@charset "UTF-8"

body {
	margin: 0;
	padding: 0;
}

.container {
	margin: 0 auto;
	max-width: 1200px;
}

h1 {
	font-family: 'Questrial', 'Ubuntu', sans-serif;
	font-size: 36px;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}

h2 {
	font-family: 'Questrial', 'Ubuntu', sans-serif;
	font-size: 22px;
	font-weight: bold;
}

p {
	font-family: 'Ubuntu', 'Questrial', sans-serif;
	line-height: 28px;
}

.teamMembers {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.teamMembers h2 {
	margin: 0 auto;
}

.teamImages {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 10px 50px 40px 50px;
}

.teamImages img {
	width: 500px;
	height: 500px;
	background-color: black;
	border-radius: 10px;
}

.memberInfo {
	width: 800px;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center;
}

.generalInfo {
	width: 800px;
	margin: 0 auto;
	padding: 30px;
	border: 1px solid black;
	border-radius: 10px;
}